<%= form_for @category do |f| %>
	<br>
	<%if @category.errors.any? %>
	<h3>Errors</h3>
	<ul>
		<% @category.errors.full_messages.each do |msg| %>
		<li> <%=msg %> </li>
		<% end %>
	</ul>
	<% end %>
	<%= f.label :name %> 
	<%= f.text_field :name %> <br>
	<br>
	<%= f.submit %>
<% end %>